<div class="header">
    <a href="/" class="logo">aeroSoft Blog.</a>
    <div class="header-right">
      <a class="active" href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/about">About</a>
      <a href="/blogs/create">Blogs</a>
    </div>
  </div>