<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>

    <div style="padding-left: 20px">
      <h1>404, chump.</h1>
      <p>We didn't find that resource please.</p>
      <p>You can still browser much more content..</p>
    </div>
  </body>
  <%- include('./partials/footer') %>
  </html>