<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>

    <div style="padding-left: 20px">
      <h1>About page</h1>
      <p>Here's a few information about us.</p>
      <p>Some content..</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
        nostrum facilis unde sunt totam voluptatum enim doloremque minima cumque
        nemo corporis iure ad delectus vitae tenetur mollitia error vero iusto
        fugiat fuga porro. Ipsa sequi error nam sed adipisci, sunt facere
        doloremque suscipit eius id iure impedit hic tempora earum ullam fuga
        consequuntur, debitis cumque doloribus, ratione necessitatibus? Optio
        vitae quis in unde eius distinctio, excepturi quo neque obcaecati ullam
        consequatur iste qui eligendi enim. Repellendus facere labore magnam
        voluptate! Quisquam possimus expedita neque iste. Enim ad blanditiis
        quod maxime ducimus iste, cum perspiciatis earum praesentium veritatis
        voluptate consequatur dicta sed nam quidem totam iure eligendi explicabo
        ea. Nobis sequi dolorem dolorum accusantium facere quibusdam, rem dicta,
        omnis, optio quidem eum impedit tenetur. Id, ab vitae odio veniam autem
        amet obcaecati optio animi! Illum minima soluta accusamus facilis
        perspiciatis nobis mollitia laboriosam consectetur reprehenderit,
        numquam fugiat. Laboriosam quos incidunt aliquam consequuntur eos iure
        id unde, odio quaerat recusandae officia repellendus natus, doloribus
        voluptatibus ut. Nulla adipisci illo hic, a recusandae atque repellat,
        magnam asperiores, quidem ipsa sunt dolorem aliquid nemo. Suscipit, eum!
        Eum aliquid, praesentium amet maiores fugiat odio illo distinctio
        ratione at assumenda blanditiis architecto aperiam voluptatem atque
        quos.
      </p>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
