<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>

    <div style="padding-left: 20px">
      <h1>Blogs</h1>
      <p>Great news! You can also write your blog and we'll show it here.</p>
      <p>Fair uh!..</p>
    </div>
    <div class="container">
      <form action="#">
        <label for="title">Blog Title</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Input title.."
        />

        <label for="snippet">Blog snippet</label>
        <input
          type="text"
          id="snippet"
          name="snippet"
          placeholder="Your snippet..."
        />

        <label for="blog">Blog</label>
        <textarea
          id="blog"
          name="blog"
          placeholder="Write something.."
          style="height: 200px"
        ></textarea>

        <input type="submit" value="Submit" />
      </form>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
