<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node JS Crash Course</title>
    <style>
      .heading {
        margin: 20px;
        background-color: cornflowerblue;
        color: azure;
        border-radius: 5px;
      }
      .body {
        padding: 40px;
        height: 100vh;
        background: gray;
      }
    </style>
  </head>
  <body>
    <h1>Home</h1>
    <div class="heading">
      <h2>Node JS Course from the Net Ninja</h2>
      <nav>
        <p><a href="/">Home page</a></p>
        <p><a href="/about">About page</a></p>
      </nav>
      <p>Hello noders and coders, greetings all over the world.</p>
    </div>
    <div class="body">
      <h2>Fundamentals of understanding Node!</h2>
    </div>
  </body>
</html>
